<template>
    <div>
        <v-container fluid>
            LIST OF NOTES
            <v-row dense>
                <v-col
                    v-for="(topic,k) in topics" 
                    :key="k"
                    cols="12"
                >
                    <v-card
                    color="secondary"
                    dark>
                        
                        <v-card-title v-text="topic.topic_name"></v-card-title>
                        
                        <v-card-actions>
                            <v-spacer></v-spacer>
  
                            <v-btn color="primary"  @click="viewNote(topic)">
                            View
                            </v-btn>
            
                        </v-card-actions>
                        
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
export default {
    data() {
        return {
            topics:[]
        }
    },
    created() {
        this.initialize()
    },
    methods: {
        initialize(){
            this.getTopicList()
        },
        getTopicList(){
            axios.get('/topiclist').then( res => {
                this.topics = res.data.result
                console.log(this.topics)
            }).catch(err => {
                this.$errorHandler(err)
            })
        },
        viewNote(item){
			this.$router.push({path:'/topic/'+item.id+'/view/'})
		}
    }
}
</script>