<template>
<v-card class="radius-10">
    <v-card-title
        class="headline"
        primary-title
    >
        <span class="font-weight-medium">{{ (action == 'edit') ?  'Edit Topic' : 'New Topic' }}</span>
    </v-card-title>
	<v-divider></v-divider>
	<v-card-text class="py-4">
		<v-row v-if="basic_form">
            <v-col cols="12">
                <v-text-field
                :label="labels.topic_name"
                :placeholder="labels.topic_name"
                v-model="item.topic_name"
                :error-messages="messageErrors($v.item.topic_name,labels.topic_name)"
                @blur="$v.item.topic_name.$touch()" 
                @input="$v.item.topic_name.$touch()"
                />
            </v-col>
            <v-col cols="12">
                <v-textarea
                :label="labels.description"
                :placeholder="labels.description"
                v-model="item.description"
                />
            </v-col>
            <v-col cols="12">
                <v-file-input
                :label="labels.file_upload"
                placeholder="Upload Note File"
                v-model="item.file_upload"
                />
            </v-col>
        </v-row>
	</v-card-text>
	<v-card-actions>
		<v-spacer></v-spacer>
		<v-btn color="blue darken-1" :disabled="loading" text title="Cancel" @click="closeDialog()">Cancel</v-btn>
		<v-btn color="blue darken-1" :disabled="loading" text title="Save" @click="startSubmit(item)">Save</v-btn>
	</v-card-actions>
</v-card>
</template>


<script>
import Axios from 'axios'
import { required, maxLength } from "vuelidate/lib/validators";
export default {
    components: { },
    props:{
        item: {
            type: Object,
            required: true,
        },
        action: {
            type: String,
            required: true,
        },
        isOpen: {
            type: Boolean,
            required: true,
        },
    },
    data () {
      return {
        errors : {},
        basic_form:true,
        labels:{
            topic_name:'Topic Name',
            description:'Description',
            file_upload:'Note File',
            link:'Link to PDF',
        },
        menu: false,
        loading:false
      }
    },
    created(){
    },
    watch:{
    	'isOpen':{
			handler: function (newVal){
				if(newVal == true){
					this.errors = {}
				}
			},
			immediate : true,
    	},
		'item.type':{
			handler: function (newVal){
				// console.log('type',newVal)
			},
		},
    },
    validations () {
        return {
            item: {
                topic_name: {
                    required
                },
            },
        }
    },
    methods: {
    	initialize(){
            this.resetForm()
    		this.$emit('initialize')
    	},
		closeDialog(){
            this.resetForm()
			this.$emit('closeDialog')
        },
        resetForm(){
            this.basic_form = true
            // reset form havent jadi lagi
        },
    	submitForm(item){
			this.saveModel(item)
        },

        startSubmit(item){
            this.loading = true;
            this.$v.item.$touch()
            let payload = item
            console.log(payload)

            if(this.action == 'create'){
                Axios.post('topic/store', payload).then(res => {
                    if(item.file_upload)
                        this.saveFile(res.data.result.id, item.file_upload)
                    else{
                        this.initialize()
                        this.loading = false;
                        this.closeDialog()
                    }
                }).catch(err=>{
                    this.loading = false;
                    this.$errorHandler(err)
                })
            }else{
                console.log(payload)
                Axios.post('topic/edit', payload).then(res => {
                    if(item.file_upload)
                        this.saveFile(res.data.result.id, item.file_upload)
                    else{
                        this.initialize()
                        this.loading = false;
                        this.closeDialog()
                    }
                }).catch(err=>{
                    this.loading = false;
                    this.$errorHandler(err)
                })

            }
        },
        saveFile(id, file_upload){
            this.loading = true
            let payload = new FormData()
            payload.append("file", file_upload)
            console.log(payload)
            Axios.post('topic/'+id+'/uploadFile', payload).then(res => {
                this.initialize()
                this.loading = false;
                this.closeDialog()
                
            }).catch(err => {
                this.loading = false
                this.$errorHandler(err)
          })

        }
    }
  }
</script>
