<template>
    <div>
        <h1 class="text-center">{{this.name}}</h1>
        <v-container fluid>
            <PDFJSViewer :path="this.path" :fileName="this.file_url"/>
        </v-container>
    </div>
</template>
<script>
import Axios from 'axios'
import PDFJSViewer from '@/js/components/PDFJSViewer'
export default {
    data(){
        return{ 
            topic_id: null,
            note_src: '',
            file_url: '', //change which pdf file loads
            path: '/lib/pdfjs-2.9.359-dist/web/viewer.html' //path of the PDF.js viewer.html
        }
    },
    components: {
        PDFJSViewer
    },
    created() {
        this.initialize()
    },
    methods: {
        async initialize(){
            this.topic_id = await this.$router.currentRoute.params.topic_id
            console.log(this.topic_id)
            this.getPDF(this.topic_id)
        },
        getPDF(id){
            Axios.get('/topic/'+id).then(res => {
                this.file_url = res.data.result.file_url
                this.name = res.data.result.topic_name
            })
        }
    }
}
</script>