<template>
<div>
    <v-container fluid>
        <v-row dense>
                <v-col
                    cols="6"
                >
                    <v-card color="secondary">
                        <v-img
                            src="/assets/notes.jpg"
                            class="white--text align-end"
                            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                            height="200px"
                        >
                        
                        <v-card-title class="white--text text-h5" >Notes</v-card-title>
                        
                        </v-img>
                        
                        <v-card-actions>
                            <v-spacer></v-spacer>
  
                            <v-btn color="primary" @click="goToNotes()">
                            GO
                            </v-btn>
            
                        </v-card-actions>
                        
                    </v-card>
                </v-col>
                <v-col cols="6">
                   <v-card color="secondary">
                        <v-img
                            src="/assets/exercise.jpg"
                            class="white--text align-end"
                            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                            height="200px"
                        >
                        
                        <v-card-title >Exercise</v-card-title>
                        
                        </v-img>
                        
                        <v-card-actions>
                            <v-spacer></v-spacer>
  
                            <v-btn color="primary" @click="goToExercise()">
                            GO
                            </v-btn>
            
                        </v-card-actions>
                        
                    </v-card>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col
                    cols="6"
                >
                    <v-card color="secondary">
                        <v-img
                            src="/assets/vocabulary.jpg"
                            class="white--text align-end"
                            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                            height="200px"
                        >
                        
                        <v-card-title >Vocabulary</v-card-title>
                        
                        </v-img>
                        
                        <v-card-actions>
                            <v-spacer></v-spacer>
  
                            <v-btn color="primary" @click="goToVocabulary()">
                            GO
                            </v-btn>
            
                        </v-card-actions>
                        
                    </v-card>
                </v-col>
                <v-col cols="6">
                   <v-card color="secondary">
                        <v-img
                            src="/assets/analysis.jpg"
                            class="white--text align-end"
                            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                            height="200px"
                        >
                        
                        <v-card-title >Performance Analysis</v-card-title>
                        
                        </v-img>
                        
                        <v-card-actions>
                            <v-spacer></v-spacer>
  
                            <v-btn color="primary" @click="goToAnalysis()">
                            GO
                            </v-btn>
            
                        </v-card-actions>
                        
                    </v-card>
                </v-col>
            </v-row>
    </v-container>
</div>
</template>

<script>
export default {
    data(){
        return {

        }
    },
    methods: {
        goToExercise(){
            this.$router.push({path:'/exerciseType'})
        },
        goToNotes(){
            this.$router.push({path:'/notes'})
        },
        goToAnalysis(){
            this.$router.push({path:'/analysistype'})
        }
    }

}


</script>



<style>

</style>