<template>
	<Form 
	:title="title"
	:readonly = "readonly"
	:mode="mode"
	/>
</template>
<script>
	import Form from '@/js/views/Question/questionForm'
	export default {
		components: {
			Form
		},
		data() {
			return {
				title: 'New Question',
				readonly: false,
				mode: 'create'
			}
		}
	}
</script>