<template>
<div>
	<v-card>
		<v-row dense align="end" justify="space-between" class="ma-0 mb-5 px-4 py-2">
			<v-col cols=12 md=6>
				<v-card-title>
					<div class="font-weight-bold">{{this.exercise_name}} Questions</div>
			      	<v-btn  
			      		class="ml-3"
			      		color="primary"
			  			title="Create New" @click="createQuestion"
			  		>
			      		Add <v-icon>mdi-plus</v-icon>
			      	</v-btn>
					<v-btn  
					class="ml-3"
					color="primary"
					title="ReOrder Questions" @click="reOrder()"
			  		>
			      		ReOrder
			      	</v-btn>
				</v-card-title>
		    	<v-card-subtitle class="pt-1 py-0">
		    		<div>List of Questions</div>
		    	</v-card-subtitle>
	    	</v-col>

	    	<v-col cols=12 md="6">
	    		<v-text-field
			        v-model="search"
			        placeholder="Search by"
			        dense hide-details
			        append-icon="mdi-magnify"
			        @click:append="searchData"
			        @keyup.enter="searchData()"
		        ></v-text-field>
	    	</v-col>
	    </v-row>
	    <v-divider></v-divider>
	    <v-data-table
        :headers="this.headers"
        :items="tableData"
        :options.sync="options"
        :server-items-length="totalData"
        :footer-props="{
          'items-per-page-options': [5, 10, 25, 50,100,150]
        }"
        :loading="tableLoading"
        disable-sort
        :item-class="row_classes"
	    >	
	    	<template v-slot:item.action="{ item }">
		     	<div class="no-word-wrap">
			     	<!-- <router-link :to="'/user/info/'+item.id" class="text-decoration-none"><v-icon small title="View">mdi-eye</v-icon></router-link> -->
			      	<v-icon small title="Edit" @click="editQuestion(item)">mdi-pencil</v-icon>
			      	<!-- <v-icon small title="Toggle Archive" @click="confirmArchive(item)">mdi-delete</v-icon> -->
			     </div>
	    	</template>
	    </v-data-table>
	</v-card>
	<div class="text-left pt-2">
		<v-btn
		color="primary"
		class="mr-1"
		@click="back()"
		>
		Back
		</v-btn>
	</div>

	<v-dialog v-model="dialog" max-width="550px" persistent>
		<ReOrderQuestion 
			:item="this.tableData" 
			:action="action" 
            :isOpen="dialog" 
            @closeDialog="closeDialog()" 
            @initialize="initialize()"
		/>
	</v-dialog>

</div>
</template>

<script>
import { dataMixin } from "@/js/mixins/DataMixin"
import ReOrderQuestion from "@/js/views/Question/reOrderQuestion-modal"
export default {
	data(){
		return {
			action: 'new',
			headers: [
				{ text: 'No.', value: 'seq' },
				{ text: 'Question', value: 'question_text' },
				{ text: 'Actions', value: 'action', align: 'center', sortable: false },
			],
			typingTimer: false,
			doneTypingInterval: 1500,
            search: '',
			exercise_id : null,
			exercise_name : null,
			dialog: false,
		}
	},

	components: { ReOrderQuestion },
    mixins: [ dataMixin ],

    created(){
        this.initialize()
    },
    mounted(){
        this.filters.role_id = 'NA'
    },
    watch: {
        search: function(v) {
            clearTimeout(this.typingTimer)
            this.typingTimer = setTimeout(function () {
                this.options.page = 1
                this.getModel()
            }.bind(this), this.doneTypingInterval)
        },
    },
	methods:{
		async initialize(){
			this.exercise_name = await this.$router.currentRoute.params.exercise_name
			this.exercise_id = this.$cookies.get('selectedExercise')
			console.log(this.exercise_id)
			this.getModel()
		},
		createQuestion(){
            this.$router.push({path:this.exercise_name+'/question/create'})
		},
		editQuestion(item){
			this.$router.push({path:this.exercise_name+'/question/'+item.id+'/edit'})
		},

		// emptyModel(){
		// 	let theObject = {
		// 		topic_name: '',
		// 		description: '',
		// 	}
		// 	return theObject
		// },
		searchData(){
			this.options.page = 1
			this.getModel(this.exercise_id)
		},
		getModel(){
			let id = this.$cookies.get('selectedExercise')
			this.tableLoading = true;
      		let payload = this.setPagination(this.options)
      		payload.search = this.search
			payload.filters = this.filters
			console.log(payload.search,'search')

			axios.post('/exercise/'+id+'/question/paginate', payload).then((res) => {
			this.tableData = res.data.result.data
			this.totalData = res.data.result.total
				})
				.catch((err) => {
					this.$errorHandler(err)
				})
				.finally(() => {
					this.unsetLoading()
				})
		},
		
        row_classes(item){
            if(item.is_deleted == 1){
                return "grey lighten-4 grey--text"
            }
        },

		closeDialog(){
			this.dialog = false
			this.deleteDialog = false
			this.initialize()
		},
		back(){
			this.$router.push({path:'/exercise'})
		},
		reOrder(){
			this.dialog = true
		}
	}
}
</script>