<template>
  <v-container v-if="loaded" white fluid class="px-8 mt-2">
    <v-form @submit.prevent="store" id="form">
      <v-row>
        <v-col>
          <div class="headline primary--text">
            {{ title }}
            <v-btn
              :disabled="loading"
              rounded
              depressed
              medium
              color="error"
              :class="!$vuetify.breakpoint.mdAndUp ? 'mt-2' : ''"
              @click="back"
              >Back</v-btn
            >
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" class="pb-0">
          <v-select
            outlined
            dense
            :label="labels.topic_id"
            placeholder="Select One"
            v-model="question.topic_id"
            :items="topiclist"
            :error-messages="messageErrors($v.question.topic_id,labels.topic_id)"
            @blur="$v.question.topic_id.$touch()" 
            @input="$v.question.topic_id.$touch()"
          />
        </v-col>
        <v-col cols="12" class="py-0">
          <v-textarea
            outlined
            dense
            :label="labels.question_text"
            :placeholder="labels.question_text"
            v-model="question.question_text"
            :error-messages="messageErrors($v.question.question_text,labels.question_text)"
            @blur="$v.question.question_text.$touch()" 
            @input="$v.question.question_text.$touch()"
          />
        </v-col>
        <!-- <v-col cols="6" class="py-0">
          <v-select
            outlined
            dense
            :label="labels.question_type"
            placeholder="Choose One"
            :items="question_type_list"
            v-model="question.question_type"
            @change="reset_option"
            :error-messages="messageErrors($v.question.question_type,labels.question_type)"
            @blur="$v.question.question_type.$touch()" 
            @input="$v.question.question_type.$touch()"
          />
        </v-col> -->
        <v-col cols="12" class="pt-0">
        <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row v-show="question.question_type == 1" v-for="(input, k) in question_option" :key="k">
        <v-col cols="12" class="pb-0">
          <v-text-field
          outlined
          :label="labels.option + sum(k,1)"
          :placeholder="labels.option + sum(k,1)"
          dense
          v-model="input.option"
          />
        </v-col>
        <v-col cols="6" class="py-0">
          <v-file-input
          outlined
          dense
          v-model="input.image_upload"
          @change="Preview_image(k)"
          prepend-icon="mdi-camera"
          :label="labels.image_upload"
          placeholder="Upload Image"
          />
        </v-col>
        <v-col cols="6" class="py-0">
          Preview:
          <div v-if="input.image_url">
            <v-img :src="input.image_url"></v-img>
          </div>
        </v-col>
        <v-col cols="6" class="py-0">
          <v-checkbox
          class="my-0"
          :label="labels.correct"
          v-model="input.correct"
          />
        </v-col>
        <v-col cols="6" align="right" class="pb-0 pt-2">
          <v-btn @click="add(k)" v-show="k == question_option.length-1" class="mx-2" depressed dark small color="primary">add</v-btn>
          <v-btn @click="remove(k)" v-show="k || ( !k && question_option.length > 1)" class="mx-2" depressed dark small color="error">x</v-btn>
        </v-col>
        <v-col cols="12" class="pt-0">
        <v-divider></v-divider>
        </v-col>
      </v-row>
        <v-row v-show="question.question_type == 2" v-for="(input, n) in sample_answer" :key="'A'+n"> 
          <v-col cols="12" class="pb-0">
            <v-textarea
            outlined
            v-model="input.text"
            :label="labels.sample_answer + sum(n,1)"
            :placeholder="labels.sample_answer + sum(n,1)"
            />
          </v-col>
            <v-col cols="12" align="right" class="py-0">
              <v-btn @click="addSA(n)" v-show="n == sample_answer.length-1" class="mx-2" depressed dark small color="primary">add</v-btn>
              <v-btn @click="removeSA(n)" v-show="n || ( !n && sample_answer.length > 1)" class="mx-2" depressed dark small color="error">x</v-btn>
            </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-textarea
              outlined
              dense
              :label="labels.answer_explanation"
              :placeholder="labels.answer_explanation"
              v-model="question.answer_explanation"
              :error-messages="messageErrors($v.question.answer_explanation,labels.answer_explanation)"
              @blur="$v.question.answer_explanation.$touch()" 
              @input="$v.question.answer_explanation.$touch()"
            />
          </v-col>
        </v-row>
      <v-row>
        <v-col cols="12">
          <v-btn
            :disabled="loading"
            rounded
            depressed
            medium
            color="primary"
            block
            @click.prevent="submit"
            >{{
              loading ? "Processing..." : mode == "create" ? "Submit" : "Update"
            }}</v-btn
          >
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>
<script>
import Axios from "axios";
import { required, sameAs } from "vuelidate/lib/validators";

export default {
    props: {
        title: {
        default: null,
        },
        mode: {
        default: null,
        },
    },
    data() {
        return {
            loaded: true,
            question: {
              question_type: null
            },
            question_option: [{
              option: '',
              correct: null,
              image_url: '',
              image_upload: []
            }],
            sample_answer: [{
              text: '',
            }],
            labels: {
                topic_id: "Topic",
                question_text: "Question Text",
                question_type: "Question Type",
                option: "Option Text ",
                image_upload: "Option Image (Optional)",
                correct: "Correct Answer",
                answer_explanation: "Answer Explanation",
                sample_answer: "Sample Answer "
            },
            question_id: null,
            exercise_id: null,
            exercise_name: null,
            loading: false,

            topiclist: [],
            question_type_list: [
                { text: 'Objective', value: 1},
                { text: 'Subjective', value: 2},
            ],
            correctOption: [
                { text: 'Option 1', value: '1'},
                { text: 'Option 2', value: '2'},
                { text: 'Option 3', value: '3'},
                { text: 'Option 4', value: '4'},
            ],
            exercise_type_id: null
        };
    },
    validations() {
        return {
          question: {
            topic_id: {
              required
            },
            question_text: {
              required
            },
            question_type: {
              required
            },
            answer_explanation: {
              required
            }
          },
          question_option: {
            // option_1: {
            //   required
            // },
            // option_2: {
            //   required
            // },
            // option_3: {
            //   required
            // },
            // option_4: {
            //   required
            // },
          }
        }
    },
    created() {
      this.initialize()
    },

    methods: {
      async initialize(){
        this.exercise_name = await this.$router.currentRoute.params.exercise_name;
        this.exercise_id = this.$cookies.get('selectedExercise')

        await Axios.get('exercise/'+ this.exercise_id).then( res=> {
          this.exercise_type_id = res.data.result.exercise_type_id

          if(this.exercise_type_id == 1 ){
            this.question.question_type = 1
          }
          else if(this.exercise_type_id == 2){
            this.question.question_type = 2
          }
        })

        Axios.get("/topiclist").then((res) => {
        this.topiclist = res.data.result.map((item) => {
            return {
                value: item.id,
                text: item.topic_name,
                };
            })
        });

        if(this.mode == 'edit'){
          this.question_id = await this.$router.currentRoute.params.question_id;
          this.showQuestion(this.question_id)
        }

      },
        back(){
            this.$router.push({path:'/exercise/'+this.exercise_name})
        },
        submit(){
            this.loading = true
            // this.$v.question.$touch()
            // this.$v.question_option.$touch()
            let payload ={}
            if(this.question.question_type == 1){
              payload = {
                question : this.question,
                question_option : this.question_option
              }
            }
            else if (this.question.question_type == 2){
              payload = {
                question : this.question,
                sample_answer : this.sample_answer
              }
            }
            
            console.log(payload)
            if (this.mode == "create"){
                Axios.post('exercise/'+this.exercise_id+'/question/create',payload).then(res =>{

                  var index = 0
                  this.question_option.forEach(option => {
                    if(option.image_upload){
                      this.saveImage(res.data.question_option[index].id, option.image_upload)
                    }
                    index = index + 1
                  });

                  this.loading = false
                  this.$router.push({path:'/exercise/'+this.exercise_name})
                }).catch((err) => {
                  this.loading = false
                    this.$errorHandler(err)
                })
            } 
            else if (this.mode == "edit"){
              Axios.post('/question/'+this.question_id+'/edit', payload).then(res => {

                var index = 0
                this.question_option.forEach(option => {
                  if(option.image_upload){
                    this.saveImage(res.data.question_option[index].id, option.image_upload)
                  }
                  index = index + 1
                });

                this.loading = false
                this.$router.push({path:'/exercise/'+this.exercise_name})
              }).catch(err => {
                this.loading = false
                this.$errorHandler(err)
              })
            }
        },
        saveImage(id, image_upload){
          this.loading = true
          let payload = new FormData();
          payload.append("image", image_upload)
          Axios.post('question_option/'+id+'/uploadImage', payload).then(res => {
            if(res.data.status == 400){
              this.$toast.warning(res.data.message)
            }
          }).catch(err => {
            this.loading = false
            this.$errorHandler(err)
          })
        },
        showQuestion(id){
          Axios.get('/question/'+id).then(res =>{
            this.question = res.data.question
            if(this.question.question_type == 1){
              this.question_option = res.data.question_option
            }else if(this.question.question_type == 2){
              this.sample_answer = res.data.question_option
            }
          }).catch(err => {
            this.$errorHandler(err)
          })
        },
        Preview_image(index) {
          this.question_option[index].image_url= URL.createObjectURL(this.question_option[index].image_upload)
          console.log(this.question_option[index].image_url)
        },
        add () {
          this.question_option.push({
            option: '',
            correct: null,
            image_url: '',
            image_upload: []
          })
          console.log(this.question_option)
        },

        remove (index) {
          this.question_option.splice(index, 1)
        },
        sum(key,b){
          let index = key+b
          return index
        },
        reset_option(){
          if(this.question.question_type == 2){
            this.question_option = [{}]
          }
          else if (this.question.question_type == 1){
            this.sample_answer = [{}]
          }
        },
        addSA () {
          this.sample_answer.push({
            text: '',
          })
          console.log(this.sample_answer)
        },

        removeSA (index) {
          this.sample_answer.splice(index, 1)
        },
        
    },
};
</script>