<template>
    <v-card class="radius-10">
        <v-card-title
        class="headline"
        primary-title
    >
        <span class="font-weight-medium">ReOrder Questions</span>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text class="py-4">
        <v-row>
            <v-col cols="12">
                <v-data-table
                    dense
                    :headers="this.headers"
                    :items="this.item"
                    v-sortable-data-table
                    @sorted="saveOrder"
                    item-key="name"
                ></v-data-table>
            </v-col>
        </v-row>
    </v-card-text>
    <v-card-actions>
		<v-spacer></v-spacer>
		<v-btn color="blue darken-1" :disabled="loading" text title="Cancel" @click="closeDialog()">Cancel</v-btn>
		<!-- <v-btn color="blue darken-1" :disabled="loading" text title="Save" @click="startSubmit(item)">Save</v-btn> -->
	</v-card-actions>
    </v-card>
</template>
<script>
import { dataMixin } from "@/js/mixins/DataMixin"
import Sortable from 'sortablejs';
export default {
    data(){
        return {
            loading:false,
            headers: [
				{ text: 'No.', value: 'seq' },
				{ text: 'Question', value: 'question_text' },
			],
        }
    },
    props: {
        item: {
            type: Array,
            required: true,
        }
    },
    mixins: [ dataMixin ],
    created(){
        // this.initialize()
    },
    methods: {
        async initialize(){
			this.exercise_name = await this.$router.currentRoute.params.exercise_name
			this.exercise_id = this.$cookies.get('selectedExercise')
			console.log(this.exercise_id)
			this.getModel()
		},
        getModel(){
			let id = this.$cookies.get('selectedExercise')
			this.tableLoading = true;
      		let payload = this.setPagination(this.options)
      		payload.search = this.search
			payload.filters = this.filters
			console.log(payload.search,'search')

			axios.post('/exercise/'+id+'/question/paginate', payload).then((res) => {
			this.tableData = res.data.result.data
			this.totalData = res.data.result.total
				})
				.catch((err) => {
					this.$errorHandler(err)
				})
				.finally(() => {
					this.unsetLoading()
				})
		},
        closeDialog(){
			this.$emit('closeDialog')
        },
    }

}
</script>