@import url(https://fonts.googleapis.com/css?family=Nunito);.radius-05 {
  border-radius: 5px !important;
}

.radius-10 {
  border-radius: 10px !important;
}

.radius-20 {
  border-radius: 20px !important;
}

.radius-30 {
  border-radius: 30px !important;
}

.radius-40 {
  border-radius: 40px !important;
}

.radius-50 {
  border-radius: 50px !important;
}

.radius-tl-20 {
  border-top-left-radius: 20px !important;
}

.radius-tr-20 {
  border-top-right-radius: 20px !important;
}

.radius-bl-20 {
  border-bottom-left-radius: 20px !important;
}

.radius-br-20 {
  border-bottom-right-radius: 20px !important;
}

.word-wrap {
  white-space: normal;
}

.no-word-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.display-paragraph {
  white-space: pre-line !important;
}

.border-left-primary {
  border-left: 8px solid #57BD7A !important;
}

.border-left-error {
  border-left: 8px solid #ff5252 !important;
}

.border-left-warning {
  border-left: 8px solid #fb8c00 !important;
}

.border-left-info {
  border-left: 8px solid #2196f3 !important;
}

.border-left-grey {
  border-left: 8px solid #9e9e9e !important;
}

.border-left-black {
  border-left: 8px solid #666 !important;
}

.fill-width {
  width: 100% !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.rounded-banner {
  position: fixed;
  width: 100%;
  border-bottom-right-radius: 50% 35px;
  border-bottom-left-radius: 50% 35px;
}

.btn-active {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  border-bottom: 3px solid #57BD7A;
}

.clickable {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Enter and leave animations can use different */

/* durations and timing functions.              */

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

