<template>
    <dir>
        <v-container fluid>
            <v-row dense>
                <v-col cols="6">
                    <v-card color="secondary">
                        <div class="d-flex flex-no-wrap justify-space-between">
                            <div>
                            <v-card-title
                                class="white--text text-h5"
                            >Result History</v-card-title>
                            <v-card-actions>
                                <v-btn class="ml-2" color="primary" @click="goToResult">
                                    View
                                </v-btn>
                            </v-card-actions>
                            </div>
                            <v-avatar
                                class="ma-3"
                                size="100"
                                tile
                            >
                            <v-img  src="/assets/read.png"></v-img>
                            </v-avatar>
                        </div>
                    </v-card>
                </v-col>

                <v-col cols="6">
                    <v-card color="secondary">
                        <div class="d-flex flex-no-wrap justify-space-between">
                            <div>
                            <v-card-title
                                class="white--text text-h5"
                            >Topic Analysis</v-card-title>
                            <v-card-actions>
                                <v-btn class="ml-2" color="primary" @click="goToTopicAnalysis">
                                    View
                                </v-btn>
                            </v-card-actions>
                            </div>
                            <v-avatar
                                class="ma-3"
                                size="100"
                                tile
                            >
                            <v-img  src="/assets/read.png"></v-img>
                            </v-avatar>
                        </div>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </dir>
</template>

<script>
export default {
    methods: {
        goToResult(){
            this.$router.push({path:'/analysistype/result/list'})
        },
        goToTopicAnalysis(){
            this.$router.push({path:'/analysistype/topic/list'})
        }
    }
}
</script>
