<template>
    <div>
        <v-container fluid>
            <v-card>
                <v-card-title>
                    <div class="font-weight-bold">Exercises Result</div>
                    <v-spacer></v-spacer>
                    <v-text-field
                        v-model="search"
                        placeholder="Search by"
                        dense hide-details
                        append-icon="mdi-magnify"
                        @click:append="searchData"
                        @keyup.enter="searchData()"
                    ></v-text-field>
                </v-card-title>
                <v-divider></v-divider>
                <v-data-table
                :headers="this.headers"
                :items="tableData"
                :options.sync="options"
                :server-items-length="totalData"
                :footer-props="{
                'items-per-page-options': [5, 10, 25, 50,100,150]
                }"
                :loading="tableLoading"
                disable-sort
                :item-class="row_classes"
                >
                <template v-slot:item.exercise_type_id="{ item }">
                    {{item.exercise_type_id == 1 ? 'Reading' : item.exercise_type_id == 2 ? 'Writing' : item.exercise_type_id == 3 ? 'Listening' : 'Speaking'}}
                </template>
                <template v-slot:item.updated_at="{ item }">
                    <span>{{ format_date(item.updated_at) }}</span>
                </template>
                <template v-slot:item.result="{ item }">
                    <div>
                    
                    <v-progress-circular 
                    color="primary" 
                    :size="45"
                    :value="item.result/item.total_questions * 100"
                    >
                    {{ Math.round(item.result/item.total_questions * 100) }}%
                    </v-progress-circular>
                    </div>
                </template>
                <template v-slot:item.action="{ item }">
                    <div class="no-word-wrap">
                        <a @click="view(item)">View</a> <br/>
                    </div>
                </template>
                </v-data-table>
            </v-card>
            <div class="text-left pt-2">
            <v-btn
                color="primary"
                class="mr-1"
                @click="back()"
                >
                Back
                </v-btn>
            </div>
        </v-container>
    </div>
</template>
<script>
import { dataMixin } from "@/js/mixins/DataMixin"
import moment from 'moment';

export default {
    data() {
        return {
            headers: [
				{ text: 'Exercise Name', value: 'exercise_name', align: 'left' },
                { text: 'Exercise Type', value: 'exercise_type_id', align: 'left' },
                { text: 'Date', value: 'updated_at', align: 'left' },
                { text: 'Result', value: 'result', align: 'left' },
				{ text: 'Actions', value: 'action', align: 'left', sortable: false },
			],
            typingTimer: false,
			doneTypingInterval: 1500,
            search: '',
        }
        
    },
    components: { moment },
    mixins: [ dataMixin ],
    watch: {
        search: function(v) {
            clearTimeout(this.typingTimer)
            this.typingTimer = setTimeout(function () {
                this.options.page = 1
                console.log('1')
                this.getModel()
                
            }.bind(this), this.doneTypingInterval)
        },
    },
    created() {
        this.initialize()
    },
    methods: {
        initialize(){
            this.getModel()
        },
        getModel(){
            this.tableLoading = true;
      		let payload = this.setPagination(this.options)
      		payload.search = this.search
			payload.filters = this.filters
			console.log(payload.search,'search')

            axios.post('exercise/resultlist/paginate', payload).then((res) => {
			this.tableData = res.data.result.data
			this.totalData = res.data.result.total
				})
				.catch((err) => {
					this.$errorHandler(err)
				})
				.finally(() => {
					this.unsetLoading()
				})
        },
        searchData(){
			this.options.page = 1
            console.log('3')
			this.getModel()
		},
        row_classes(item){
            if(item.is_deleted == 1){
                return "grey lighten-4 grey--text"
            }
        },
        view(item){
            this.$router.push({path:'/result/'+item.id})
        },
        back(){
            this.$router.push({path:'/analysistype'})
        },
        format_date(value){
			if (value) {
				return moment(String(value)).format("dddd, MMMM Do YYYY, h:mm:ss a")
            }
        },
    }
}
</script>