<template>
    <div>
        <v-container fluid>
            LIST OF TOPIC
            <v-row dense>
                <v-col
                    v-for="(topic,k) in topics" 
                    :key="k"
                    cols="12"
                >
                    <v-card
                    color="secondary"
                    dark>
                        
                        <v-row>
                            <v-col cols="8">
                                <v-card-title v-text="topic.topic_name"></v-card-title>
                            </v-col>
                            <v-col cols="4" class="text-center">
                                <v-progress-circular 
                                color="primary" 
                                :size="100"
                                :width="15"
                                :value="topic.total_correct/topic.total_answer * 100"
                                >
                                {{ Math.round(topic.total_correct/topic.total_answer * 100) }}%
                                </v-progress-circular>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-card-text>
                                    Total Question : {{topic.total_answer}}
                                </v-card-text>
                            </v-col>
                        </v-row>
                        
                        
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
export default {
    data() {
        return {
            topics:[]
        }
    },
    created() {
        this.initialize()
    },
    methods: {
        initialize(){
            this.getTopicList()
        },
        getTopicList(){
            axios.get('/topicanalysis/all').then( res => {
                this.topics = res.data.result
                console.log(this.topics)
            }).catch(err => {
                this.$errorHandler(err)
            })
        },
    }
}
</script>