<template>
<nav>
    <v-toolbar flat app dark color="primary">
        <v-toolbar-title>WOWBM
        </v-toolbar-title>
        <v-spacer></v-spacer>
    </v-toolbar>

    <v-navigation-drawer 
    v-model="isOpen"
    app
    >
    </v-navigation-drawer>

</nav>
    
</template>
<script>
import navi from '@/js/configs/navbar'

export default{
    data () {
        return {
            navIndex: null,
            isOpen: true,
            route_groups: [],
        }
    },
    created(){
        let navi_key = 'admin'
        if(this.$auth.user().role == 2) {
            navi_key = 'student'
        }
        this.route_groups = navi.navbar_path[navi_key]
    },
    methods: {
        logout(){
            this.$cookies.keys().forEach(cookie => this.$cookies.remove(cookie))
            this.$auth.logout({
                makeRequest: true,
                params: {}, // data: {} in axios
                success: function () { },
                error: function () { },
                redirect: '/login',
                // etc...
            });
        },
        // logout(){
        //     this.$cookies.keys().forEach(cookie => this.$cookies.remove(cookie))
        //     this.$auth.logout({
        //         makeRequest: true,
        //         params: {}, // data: {} in axios
        //         success: function () { },
        //         error: function () { },
        //         redirect: '/',
        //         // etc...
        //     });
        // },
    }
}
</script>
