<template>
<div>
    <!-- App bar -->
    <v-app-bar
        dark
        color="primary"
    >   
        <v-app-bar-nav-icon @click="isOpen=!isOpen"></v-app-bar-nav-icon>
        <v-toolbar-title>WOWBM</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-menu
            left bottom nudge-bottom="45"
        >
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    icon
                    v-bind="attrs"
                    v-on="on"
                >
                    <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
            </template>

            <v-list>
                <v-list-item @click="logout()">
                    <v-list-item-icon class="mx-0"><v-icon size="16" class="error--text">mdi-logout</v-icon></v-list-item-icon>
                    <v-list-item-content class="error--text caption">Log Out</v-list-item-content>
                </v-list-item>
            </v-list>
        </v-menu>
    </v-app-bar>

    <!-- Side bar -->
    <v-navigation-drawer
        v-model="isOpen"
        color="white"
        app
        fixed
    >   
    <v-list>
        <v-list-item class="px-2">
        <!-- <v-list-item-avatar class="center">
            <v-img src="https://randomuser.me/api/portraits/women/85.jpg"></v-img>
        </v-list-item-avatar> -->
        </v-list-item>

        <v-list-item link>
        <v-list-item-content>
            <v-list-item-title class="text-h6">
            {{this.$auth.user().name}}
            </v-list-item-title>
            <v-list-item-subtitle>{{this.$auth.user().email}}</v-list-item-subtitle>
        </v-list-item-content>
        </v-list-item>
    </v-list>

        <v-divider></v-divider>
        <template v-for="group in route_groups">
            <v-list nav :subheader="group.title!=null" dense>
                <v-subheader v-if="group.title!=null">{{group.title }}</v-subheader>
                <template v-for="item in group.routes">
                    <v-menu
                        v-if="item.sub != null"
                        offset-x open-on-hover 
                        close-on-content-click close-on-click
                    >
                        <template v-slot:activator="{ on, attrs }">
                        <v-list-item
                            v-model="navIndex"
                            v-bind="attrs" v-on="on"
                            :to="item.route"
                        >
                            <v-list-item-icon>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-icon>
                                <v-icon>mdi-chevron-right</v-icon>
                            </v-list-item-icon>
                        </v-list-item>
                        </template>
                        <v-list dense>
                            <v-list-item
                                v-for="(item, index) in item.sub"
                                :key="index"
                                :to="item.route"
                            >
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                    <v-list-item
                        v-else
                        v-model="navIndex"
                        :to="item.route"
                    >
                        <v-list-item-icon>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </template>
    </v-navigation-drawer>

</div>
</template>

<script>
import navi from '@/js/configs/navbar'
export default {
    data () {
        return {
            navIndex: null,
            isOpen: true,
            route_groups: [],
        }
    },
    // watch:{
    //     $route (to, from){
    //     }
    // },
    created(){
        let navi_key = 'admin'
        if(this.$auth.user().role == 2) {
            navi_key = 'student'
        }
        this.route_groups = navi.navbar_path[navi_key]
    },
    methods: {
        logout(){
            this.$cookies.keys().forEach(cookie => this.$cookies.remove(cookie))
            this.$auth.logout({
                makeRequest: true,
                params: {}, // data: {} in axios
                success: function () { },
                error: function () { },
                redirect: '/login',
                // etc...
            });
        },
        // logout(){
        //     this.$cookies.keys().forEach(cookie => this.$cookies.remove(cookie))
        //     this.$auth.logout({
        //         makeRequest: true,
        //         params: {}, // data: {} in axios
        //         success: function () { },
        //         error: function () { },
        //         redirect: '/',
        //         // etc...
        //     });
        // },
    }
  }
</script>