<template>
<div style="width: 100%;" class="text-center">
  <iframe height="150%" width=90% :src="this.getFilePath" ></iframe>
</div>
</template>

<script>
export default {
  name: 'PDFJSViewer',
  props: {
    fileName: String,
    path:String
  },
  computed:{ 
    getFilePath: function () {
      if(this.fileName!==''){
          return window.location.protocol + "//" + window.location.host + this.path +'?file=' + this.fileName
      }
      return this.path 
    }
  },
}
</script>
<style scoped>
div {
  width: 50%;
  height: 79vh;
  min-width: 400px;
}
</style>