<template>
<v-card class="radius-10">
    <v-card-title
        class="headline"
        primary-title
    >
        <span class="font-weight-medium">{{ (action == 'edit') ?  'Edit Vocobulary' : 'New Vocabulary' }}</span>
    </v-card-title>
	<v-divider></v-divider>
	<v-card-text class="py-4">
		<v-row v-if="basic_form">
            <v-col cols="12">
                <v-text-field
                :label="labels.word"
                :placeholder="labels.word"
                v-model="item.word"
                :error-messages="messageErrors($v.item.word,labels.word)"
                @blur="$v.item.word.$touch()" 
                @input="$v.item.word.$touch()"
                />
            </v-col>
            <v-col cols="12">
                <v-textarea
                :label="labels.meaning"
                :placeholder="labels.meaning"
                v-model="item.meaning"
                />
            </v-col>
        </v-row>
	</v-card-text>
	<v-card-actions>
		<v-spacer></v-spacer>
		<v-btn color="blue darken-1" :disabled="loading" text title="Cancel" @click="closeDialog()">Cancel</v-btn>
		<v-btn color="blue darken-1" :disabled="loading" text title="Save" @click="startSubmit(item)">Save</v-btn>
	</v-card-actions>
</v-card>
</template>


<script>
import Axios from 'axios'
import { required, maxLength } from "vuelidate/lib/validators";
export default {
    components: { },
    props:{
        item: {
            type: Object,
            required: true,
        },
        action: {
            type: String,
            required: true,
        },
        isOpen: {
            type: Boolean,
            required: true,
        },
    },
    data () {
      return {
        errors : {},
        basic_form:true,
        labels:{
            word:'Malay Word',
            meaning:'Meaning',
        },
        menu: false,
        loading:false
      }
    },
    created(){
    },
    watch:{
    	'isOpen':{
			handler: function (newVal){
				if(newVal == true){
					this.errors = {}
				}
			},
			immediate : true,
    	},
		'item.type':{
			handler: function (newVal){
				// console.log('type',newVal)
			},
		},
    },
    validations () {
        return {
            item: {
                word: {
                    required
                },
                meaning: {
                    required
                },
            },
        }
    },
    methods: {
    	initialize(){
            this.resetForm()
    		this.$emit('initialize')
    	},
		closeDialog(){
            this.resetForm()
			this.$emit('closeDialog')
        },
        resetForm(){
            this.basic_form = true
            // reset form havent jadi lagi
        },
    	submitForm(item){
			this.saveModel(item)
        },

        startSubmit(item){
            this.loading = true;
            this.$v.item.$touch()
            let payload = item

            if(this.action == 'create'){
                Axios.post('vocabulary/create', payload).then(res => {
                        this.initialize()
                        this.loading = false;
                        this.closeDialog()
                    
                }).catch(err=>{
                    this.loading = false;
                    this.$errorHandler(err)
                })
            }else{
                console.log(payload)
                Axios.post('vocabulary/edit', payload).then(res => {
                    this.initialize()
                    this.loading = false;
                    this.closeDialog()
                }).catch(err=>{
                    this.loading = false;
                    this.$errorHandler(err)
                })

            }
            // if(this.basic_form){
            //     this.saveBooth(item)
            //     if(this.action == 'new')
            //         this.initialize()
            // }
        },
    }
  }
</script>
