<template>
<v-container white fluid class="px-8 mt-2">
    <v-card class="mx-auto" outlined>
        <v-card-title> TEST</v-card-title>
        <v-card-subtitle>
            Answer all questions
        </v-card-subtitle>
        <v-card-actions>
            <v-form id="form" class="col-md-12">
                    <v-col cols="12">
                        <div v-for="(question,k) in questions" :key="k">
                            <div class="row">
                                <div class="col-sm-12">
                                    <v-label>
                                        {{k+1}}. {{question.question_text}}
                                    </v-label>
                                    <v-radio-group v-model="answer[question.id]">
                                        <v-radio
                                        v-for="option in question.options"
                                        :key="option.option"
                                        :value="option.id"
                                        >
                                        <template v-slot:label>
                                            <div v-if="option.option">
                                                {{option.option}}
                                            </div>
                                            <div v-if="option.image_url">
                                                <v-img style="width: 200px;" :src="option.image_url"></v-img>
                                            </div>
                                        </template>
                                        </v-radio>
                                    </v-radio-group>
                                </div>
                            </div>
                        </div>
                    </v-col>
                
                    <v-col cols="12">
                    <v-btn
                        :disabled="loading"
                        rounded
                        depressed
                        medium
                        color="primary"
                        block
                        @click.prevent="submit"
                        >{{
                        loading ? "Processing..." :  "Submit" 
                        }}</v-btn
                    >
                    </v-col>
                
            </v-form>
        </v-card-actions>
    </v-card>
    <div class="text-left pt-2">
        <v-btn
        color="primary"
        class="mr-1"
        @click="back()"
        >
        Back
        </v-btn>
    </div>
</v-container>
</template>
<script>
import Axios from 'axios'
export default {
    data() {
        return {
            exercise_id : null,
            attempt_id : null,
            questions:{},
            answer: [],
            question: [],
            loading: false
        }
    },
    created() {
        this.initialize()
    },
    methods: {
        initialize(){
            this.exercise_id = this.$cookies.get('selectedExercise')

            Axios.get("/exercise/"+this.exercise_id+"/questions").then(res => {
                this.questions = res.data.result
            }).catch(err => {
                this.$errorHandler(err)
            })
        },
        submit(){
            this.data = this.questions.map((item) => {
                return {
                    question_id: item.id,
                    option_id: this.answer[item.id],
                }
            })
            // this.data = this.questions.map(item => ({ question_id: item.id, option_id: this.answer[item.id] }));
            // console.log(this.data)
            let payload = {
                data: this.data
            }
            console.log(payload)
            Axios.post("/exercise/"+this.exercise_id+"/saveAnswer", payload).then(res => {
                console.log(res.data.result)
                this.attempt_id = res.data.result.id
                this.$router.push({path:'/result/'+this.attempt_id+'/'})
            }).catch(err => {
                this.$errorHandler(err)
            })
        },
        back(){
            this.exercise_name = this.$router.currentRoute.params.exercise_name;
            this.$router.push({path:'/exercisetype'})
        }
    }
}
</script>