<template>
    <div>
        <v-container fluid>
                <v-row dense>
                    <v-col cols="6">
                        <v-card color="secondary">
                        <div class="d-flex flex-no-wrap justify-space-between">
                            <div>
                                <v-card-title
                                    class="white--text text-h5"
                                >READING</v-card-title>
                                <v-card-actions>
                                    <v-btn class="ml-2" color="primary" @click="goToReading">
                                        View
                                    </v-btn>
                                </v-card-actions>
                                </div>
                                <v-avatar
                                    class="ma-3"
                                    size="100"
                                    tile
                                >
                                <v-img  src="/assets/read.png"></v-img>
                                </v-avatar>
                            
                        </div>
                        </v-card>
                    </v-col>
                <!-- </v-row>
                <v-row dense> -->
                    <v-col cols="6">
                        <v-card color="secondary">
                        <div class="d-flex flex-no-wrap justify-space-between">
                            <div>
                                <v-card-title
                                    class="white--text text-h5"
                                >WRITING</v-card-title>
                                <v-card-actions>
                                    <v-btn class="ml-2" color="primary" @click="goToWriting">
                                        View
                                    </v-btn>
                                </v-card-actions>
                                </div>
                                <v-avatar
                                    class="ma-3"
                                    size="100"
                                    tile
                                >
                                <v-img  src="/assets/writing.png"></v-img>
                                </v-avatar>
                            
                        </div>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row dense>
                    <v-col cols="6">
                        <v-card color="secondary">
                        <div class="d-flex flex-no-wrap justify-space-between">
                            <div>
                                <v-card-title
                                    class="white--text text-h5"
                                >LISTENING</v-card-title>
                                <v-card-actions>
                                    <v-btn class="ml-2" color="primary" @click="goToListening">
                                        View
                                    </v-btn>
                                </v-card-actions>
                                </div>
                                <v-avatar
                                    class="ma-3"
                                    size="100"
                                    tile
                                >
                                <v-img  src="/assets/listening.png"></v-img>
                                </v-avatar>
                            
                        </div>
                        </v-card>
                    </v-col>
                <!-- </v-row>
                <v-row dense> -->
                    <v-col cols="6">
                        <v-card color="secondary">
                        <div class="d-flex flex-no-wrap justify-space-between">
                            <div>
                                <v-card-title
                                    class="white--text text-h5"
                                >SPEAKING</v-card-title>
                                <v-card-actions>
                                    <v-btn class="ml-2" color="primary" @click="goToSpeaking">
                                        View
                                    </v-btn>
                                </v-card-actions>
                                </div>
                                <v-avatar
                                    class="ma-3"
                                    size="100"
                                    tile
                                >
                                <v-img  src="/assets/conversation.png"></v-img>
                                </v-avatar>
                            
                        </div>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        <!-- <v-card >
            
            <v-card-title>
                List of Exercise
            </v-card-title>
            
                
            <v-card-actions class="justify-center">
                
                <v-btn
                    color="primary"
                    outlined
                    large
                    block
                    @click="goToExercise"
                    >
                    Reading
                </v-btn>
            </v-card-actions>
            <v-card-actions class="justify-center">
                <v-btn
                    color="primary"
                    outlined
                    large
                    block
                    @click="goToExercise"
                    >
                    Writing
                </v-btn>
            </v-card-actions>
            <v-card-actions class="justify-center">
                <v-btn
                    color="primary"
                    outlined
                    large
                    block
                    @click="goToExercise"
                    >
                    Listening
                </v-btn>
            </v-card-actions>
            <v-card-actions class="justify-center">
                <v-btn
                    color="primary"
                    outlined
                    large
                    block
                    @click="goToExercise"
                    >
                    Speaking
                </v-btn>
            </v-card-actions>
                    
                
            
        </v-card> -->
    </div>
</template>
<script>
export default {
    methods: {
        goToReading(){
            this.$router.push({path:'/exercisetype/reading'})
        },
        goToWriting(){
            this.$router.push({path:'/exercisetype/writing'})
        },
        goToListening(){
            this.$router.push({path:'/exercisetype/listening'})
        },
        goToSpeaking(){
            this.$router.push({path:'/exercisetype/speaking'})
        }
    }
}
</script>