<template>
<v-card class="radius-10">
    <v-card-title
        class="headline"
        primary-title
    >
        <span class="font-weight-medium">{{ (action == 'edit') ?  'Edit Exercise' : 'New Exercise' }}</span>
    </v-card-title>
	<v-divider></v-divider>
	<v-card-text class="py-4">
		<v-row v-if="basic_form">
            <v-col cols="12">
                <v-select
                    dense
                    :label="labels.exercise_type_id"
                    placeholder="Select"
                    v-model="item.exercise_type_id"
                    :items='exerciseType'
                    :error-messages="messageErrors($v.item.exercise_type_id,labels.exercise_type_id)"
                    @blur="$v.item.exercise_type_id.$touch()" 
                    @input="$v.item.exercise_type_id.$touch()"
                ></v-select>
            </v-col>
            <v-col cols="12">
                <v-text-field
                dense
                :label="labels.exercise_name"
                :placeholder="labels.exercise_name"
                v-model="item.exercise_name"
                :error-messages="messageErrors($v.item.exercise_name,labels.exercise_name)"
                @blur="$v.item.exercise_name.$touch()" 
                @input="$v.item.exercise_name.$touch()"
                />
            </v-col>
        </v-row>
	</v-card-text>
	<v-card-actions>
		<v-spacer></v-spacer>
		<v-btn color="blue darken-1" :disabled="loading" text title="Cancel" @click="closeDialog()">Cancel</v-btn>
		<v-btn color="blue darken-1" :disabled="loading" text title="Save" @click="startSubmit(item)">Save</v-btn>
	</v-card-actions>
</v-card>
</template>


<script>
import Axios from 'axios'
import { required, maxLength } from "vuelidate/lib/validators";
export default {
    components: { },
    props:{
        item: {
            type: Object,
            required: true,
        },
        action: {
            type: String,
            required: true,
        },
        isOpen: {
            type: Boolean,
            required: true,
        },
    },
    data () {
      return {
        errors : {},
        basic_form:true,
        labels:{
            exercise_name:'Exercise Name',
            exercise_type_id:'Exercise Type',
        },
        menu: false,
        loading:false,
        exerciseType: [
                { text: 'Reading', value: '1'},
                { text: 'Writing', value: '2'},
                { text: 'Listening', value: '3'},
                { text: 'Speaking', value: '4'},
            ],
      }
    },
    created(){
    },
    watch:{
    	'isOpen':{
			handler: function (newVal){
				if(newVal == true){
					this.errors = {}
				}
			},
			immediate : true,
    	},
		'item.type':{
			handler: function (newVal){
				// console.log('type',newVal)
			},
		},
    },
    validations () {
        return {
            item: {
                exercise_name: {
                    required
                },
                exercise_type_id: {
                    required
                }
            },
        }
    },
    methods: {
    	initialize(){
            this.resetForm()
    		this.$emit('initialize')
    	},
		closeDialog(){
            this.resetForm()
			this.$emit('closeDialog')
        },
        resetForm(){
            this.basic_form = true
            // reset form havent jadi lagi
        },
    	submitForm(item){
			this.saveModel(item)
        },

        startSubmit(item){
            this.loading = true;
            this.$v.item.$touch()
            let payload = item

            if(this.action == 'create'){
                Axios.post('exercise/create', payload).then(res => {
                        this.initialize()
                        this.loading = false;
                        this.closeDialog()
                    
                }).catch(err=>{
                    this.loading = false;
                    // this.$toast.warning('Please fill in all required fields')
                    this.$errorHandler(err)
                })
            }else{
                console.log(payload)
                Axios.post('exercise/edit', payload).then(res => {
                    this.initialize()
                    this.loading = false;
                    this.closeDialog()
                }).catch(err=>{
                    this.loading = false;
                    this.$errorHandler(err)
                })

            }
            // if(this.basic_form){
            //     this.saveBooth(item)
            //     if(this.action == 'new')
            //         this.initialize()
            // }
        },
    }
  }
</script>
