<template>
    <div>
        <v-card >
            <v-card-title>
                <div class="font-weight-bold">Exercise Set Available</div>
            
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    placeholder="Search by"
                    dense hide-details
                    append-icon="mdi-magnify"
                    @click:append="searchData"
                    @keyup.enter="searchData()"
                ></v-text-field>
            </v-card-title>
                
            <v-divider></v-divider>
            <v-data-table
            :headers="this.headers"
            :items="tableData"
            :options.sync="options"
            :server-items-length="totalData"
            :footer-props="{
            'items-per-page-options': [5, 10, 25, 50,100,150]
            }"
            :loading="tableLoading"
            disable-sort
            :item-class="row_classes"
            >	
            <template v-slot:item.status="{ item }">
                {{item.status == 3 ? 'Have Attempt' : 'Not Attempt'}}
            </template>
            <template v-slot:item.action="{ item }">
                <div class="no-word-wrap">
                    <a @click="attempt(item)">Attempt</a> <br/>
                </div>
            </template>
            </v-data-table>
            
            
        </v-card>
        <div class="text-left pt-2">
            <v-btn
            color="primary"
            class="mr-1"
            @click="back()"
            >
            Back
            </v-btn>
        </div>
    </div>
</template>
<script>
import { dataMixin } from "@/js/mixins/DataMixin"

export default {
    data() {
        return {
            exercise_type: null,
            headers: [
				{ text: 'Name', value: 'exercise_name', align: 'left' },
                { text: 'Status', value: 'status', align: 'left' },
				{ text: 'Actions', value: 'action', align: 'left', sortable: false },
			],
            typingTimer: false,
			doneTypingInterval: 1500,
            search: '',
        }
    },
    mixins: [ dataMixin ],
    created() {
        this.initialize()
    },
    watch: {
        search: function(v) {
            clearTimeout(this.typingTimer)
            this.typingTimer = setTimeout(function () {
                this.options.page = 1
                console.log('1')
                this.getModel()
                
            }.bind(this), this.doneTypingInterval)
        },
    },
    methods: {
        initialize(){
            this.getModel()
        },
        async getModel(){
            this.tableLoading = true;
      		let payload = this.setPagination(this.options)
            payload.type = await this.$router.currentRoute.params.exercise_type
      		payload.search = this.search
			payload.filters = this.filters
			console.log(payload.search,'search')

			axios.post('exercise/paginate', payload).then((res) => {
			this.tableData = res.data.result.data
			this.totalData = res.data.result.total
				})
				.catch((err) => {
					this.$errorHandler(err)
				})
				.finally(() => {
					this.unsetLoading()
				})
        },
        searchData(){
			this.options.page = 1
            console.log('3')
			this.getModel()
		},
        row_classes(item){
            if(item.is_deleted == 1){
                return "grey lighten-4 grey--text"
            }
        },
        attempt(item){
            this.$cookies.set('selectedExercise',item.id)
            this.$router.push({path:'/exercise/'+item.exercise_name+'/attempt'})
        },
        back(){
            this.$router.push({path:'/exercisetype'})
        }
    }
}
</script>