<template>
<div>
	<v-card>
		<v-row dense align="end" justify="space-between" class="ma-0 mb-5 px-4 py-2">
			<v-col cols=12 md=6>
				<v-card-title>
					<div class="font-weight-bold">Exercise Sets</div>
			      	<v-btn  
			      		class="ml-3"
			      		color="primary"
			  			title="Create New" @click="createExercise"
			  		>
			      		Add <v-icon>mdi-plus</v-icon>
			      	</v-btn>
				</v-card-title>
		    	<v-card-subtitle class="pt-1 py-0">
		    		<div>List of Exercises Set</div>
		    	</v-card-subtitle>
	    	</v-col>

	    	<v-col cols=12 md="6">
	    		<v-text-field
			        v-model="search"
			        placeholder="Search by"
			        dense hide-details
			        append-icon="mdi-magnify"
			        @click:append="searchData"
			        @keyup.enter="searchData()"
		        ></v-text-field>
	    	</v-col>
	    </v-row>
	    <v-divider></v-divider>
	    <v-data-table
        :headers="this.headers"
        :items="tableData"
        :options.sync="options"
        :server-items-length="totalData"
        :footer-props="{
          'items-per-page-options': [5, 10, 25, 50,100,150]
        }"
        :loading="tableLoading"
        disable-sort
        :item-class="row_classes"
	    >	
		<template v-slot:item.exercise_type_id="{ item }">
			{{item.exercise_type_id == 1 ? 'Reading' : item.exercise_type_id == 2 ? 'Writing' : item.exercise_type_id == 3 ? 'Listening' : 'Speaking'}}
		</template>
	    	<template v-slot:item.action="{ item }">
		     	<div class="no-word-wrap">
			      	<!-- <v-icon small title="Edit" @click="editExercise(item)">mdi-pencil</v-icon>
					<v-icon small title="Questions" @click="exerciseQuestion(item)">mdi-file-question</v-icon>
					<v-icon small title="Delete" @click="deleteExercise(item)">mdi-delete</v-icon> -->
					<a @click="editExercise(item)">Edit</a> <br/>
					<a @click="exerciseQuestion(item)">Questions</a> <br/>
					<a @click="deleteExercise(item)">Delete</a>
					
			     </div>
	    	</template>
	    </v-data-table>
	</v-card>

	<v-dialog v-model="dialog" max-width="550px" persistent>
		<ExerciseForm 
			:item="dialogItem" 
			:action="action" 
            :isOpen="dialog" 
            @closeDialog="closeDialog()" 
            @initialize="initialize()"
		/>
	</v-dialog>
	<v-dialog v-model="deleteDialog" max-width="550px" persistent>
		<v-card>
			<v-card-title>Confirm Delete
			</v-card-title>
			<v-card-text>
				Are you sure you want to delete this exercise?<br/>
				All the questions data inside this exercise will also be deleted.
				This action cannot be undone.
			</v-card-text>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn color="blue darken-1" :disabled="loading" text title="Cancel" @click="closeDialog()">Cancel</v-btn>
				<v-btn color="red darken-1" :disabled="loading" text title="Delete" @click="confirmDelete()">Delete</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>

</div>
</template>

<script>
import { dataMixin } from "@/js/mixins/DataMixin"
import ExerciseForm from "@/js/views/Exercise/exercise-form-modal"
export default {
	data(){
		return {
			action: 'new',
			headers: [
				{ text: 'Name', value: 'exercise_name', align: 'left' },
				{ text: 'Type', value: 'exercise_type_id', align: 'left' },
				{ text: 'Actions', value: 'action', align: 'left', sortable: false },
			],
			typingTimer: false,
			doneTypingInterval: 1500,
            search: '',
			dialog: false,
			deleteDialog: false,
			loading: false
		}
	},

    components: { ExerciseForm },
    mixins: [ dataMixin ],

    created(){
        this.initialize()
    },
    mounted(){
        this.filters.role_id = 'NA'
    },
    watch: {
        search: function(v) {
            clearTimeout(this.typingTimer)
            this.typingTimer = setTimeout(function () {
                this.options.page = 1
                this.getModel()
            }.bind(this), this.doneTypingInterval)
        },
    },
	methods:{
		initialize(){
			this.getModel()
		},
		createExercise(){
			this.dialog = true
			this.dialogItem = {}
			this.action = 'create'
		},
		editExercise(item){
			this.$cookies.set('selectedExercise',item.id)
			this.dialog = true
			this.dialogItem = item
			this.action = 'edit'
		},
		deleteExercise(item){
			this.deleteDialog = true
			this.$cookies.set('selectedExercise',item.id)
		},
		confirmDelete(){
			this.loading = true
			let exercise_id = this.$cookies.get('selectedExercise')
            axios.delete('exercise/'+exercise_id+'/delete').then((res)=> {
				this.loading = false
                this.deleteDialog = false
                this.getModel()
            }).catch(err => {
				this.loading = false
				this.$errorHandler(err)
			})
		},
		exerciseQuestion(item){
			this.$cookies.set('selectedExercise',item.id)
			this.$router.push({path:'/exercise/'+item.exercise_name})
		},

		emptyModel(){
			let theObject = {
				topic_name: '',
				description: '',
			}
			return theObject
		},

		searchData(){
			this.options.page = 1
			this.getModel()
		},
		getModel(){
			this.tableLoading = true;
      		let payload = this.setPagination(this.options)
      		payload.search = this.search
			payload.filters = this.filters
			console.log(payload.search,'search')

			axios.post('exercise/paginate', payload).then((res) => {
			this.tableData = res.data.result.data
			this.totalData = res.data.result.total
				})
				.catch((err) => {
					this.$errorHandler(err)
				})
				.finally(() => {
					this.unsetLoading()
				})
		},
		
        row_classes(item){
            if(item.is_deleted == 1){
                return "grey lighten-4 grey--text"
            }
        },

		closeDialog(){
			this.dialog = false
			this.deleteDialog = false
			this.initialize()
		},
	}
}
</script>