<template>
<v-container white fluid class="px-8 mt-2">
    <v-card>
        <v-card-title>
            View Result
        </v-card-title>
        
        <v-col cols="12">
        <v-simple-table class="pb-2">
            <tbody>
            <tr>
                <td>User</td>
                <td>{{this.attempt.user.name}} ({{this.attempt.user.email}})</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{format_date(this.attempt.updated_at)}}</td>
            </tr>
            <tr>
                <td>Score</td>
                <td>{{this.attempt.result}}/{{this.attempt.total_questions}} ({{Math.round(this.attempt.result/this.attempt.total_questions*100)}}%)</td>
            </tr>
        </tbody>
        </v-simple-table>
            <div v-for="(answer,k) in this.attempt.answer" :key="k">
                <v-simple-table dense outlined>
                    <colgroup>
                        <col span="1" style="width:30%">
                    </colgroup>
                    <thead v-if="answer.correct == 1" style="background-color: #4CAF50">
                        <tr>
                            <th class="text-left">
                                Question #{{k+1}}
                            </th>
                            <th class="text-left">
                               
                            </th>
                        </tr>
                    </thead>
                    <thead v-if="answer.correct == 0" style="background-color: #FF5252">
                        <tr >
                            <th class="text-left">
                                Question #{{k+1}}
                            </th>
                            <th class="text-left">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Question Text</td>
                            <td>{{answer.question.question_text}}</td>
                        </tr>
                        <tr>
                            <td>Options</td>
                            <td>
                                <ul 
                                v-for="option in answer.question.options"
                                :key="option.option"
                                >
                                    <li v-if="option.correct == 1">
                                        <b>{{ option.option }}</b>
                                        <div class="py-1"  v-if="option.image_url">
                                            <v-img style="width: 200px;" :src="option.image_url"></v-img>
                                        </div>
                                    </li>
                                    <li v-else-if="option.id == answer.option_id">
                                        <i>{{ option.option }}</i>
                                        <div class="py-1"  v-if="option.image_url">
                                            <v-img style="width: 200px;" :src="option.image_url"></v-img>
                                        </div>
                                    </li>
                                    <li v-else>
                                        {{ option.option }}
                                        <div class="py-1" v-if="option.image_url">
                                            <v-img style="width: 200px;" :src="option.image_url"></v-img>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Answer Explanation</td>
                            <td>{{answer.question.answer_explanation}}</td>
                        </tr>
                    </tbody>
                </v-simple-table>
                <br/>
            </div>
        </v-col>
            
    </v-card>
    <div class="text-left pt-2">
    <v-btn
        color="primary"
        class="mr-1"
        @click="resultList()"
        >
        View All Result
        </v-btn>
    </div>
</v-container>
</template>
<script>
import Axios from 'axios'
import moment from 'moment';
export default {
    data() {
        return {
            attempt_id : null,
            result:{},
            attempt: {
                user: {},
                answer: {}
            },
            questions: [{}],
            answers: [{}],
            loading: false
        }
    },
    components: { moment },
    created() {
        this.attempt_id = this.$router.currentRoute.params.attempt_id;
        this.initialize(this.attempt_id)
    },
    methods: {
        initialize(id){
            Axios.get("/attempt/"+id+"/result").then(res => {
                this.attempt = res.data.result
                let answer = this.attempt.answer
                answer.forEach(ans => {
                    let option = ans.question.options
                    option.forEach(opt => {
                        if(!opt.option){
                            opt.option = ''
                        }
                        if(opt.id == ans.option_id){
                            opt.option = opt.option + ' (your answer)'
                        }

                        if(opt.correct == 1){
                            opt.option = opt.option + ' (correct answer)'
                        }
                    });
                });
            }).catch(err => {
                this.$errorHandler(err)
            })
        },
        submit(){
            console.log(this.answer)
            let payload = {
                // questions: this.questions,
                answers: this.answer
            }
            // let payload = this.answer
            Axios.post("/exercise/"+this.exercise_id+"/checkAnswer", payload).then(res => {
                console.log(res.data.result)
            }).catch(err => {
                this.$errorHandler(err)
            })
        },
        format_date(value){
			if (value) {
				return moment(String(value)).format("dddd, MMMM Do YYYY, h:mm:ss a")
            }
        },
        resultList(){
            this.$router.push({path:'/analysistype/result/list'})
        },
    }
}
</script>