<template>
<div class="banner primary fill-height">
<!-- <div class="rounded-banner primary elevation-1" :style="$vuetify.breakpoint.mdAndUp ? 'height: 100%' : 'height: 100%'">
</div> -->
<v-container class="text-center justify-center fill-height">
    <v-row justify="center" dense class="px-3" style="z-index: 1">
        <v-col cols=12 md=8>
            <div 
                class="py-1 px-6 mb-3 white--text" 
                style="
                    letter-spacing: 2px;
                    font-size: 30px;
                "
            >WOWBM</div>
            <v-card width="100%" class="radius-05">
                <v-card-title class="font-weight-bold justify-center" :class="$vuetify.breakpoint.mdAndUp ? '' : 'body-1' ">
                    <span>Forgot your password? Let us help you</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="pa-6 text-left">
                    Enter the email address associated with your account and we'll send you a link to reset your password.
                </v-card-text>
                <v-card-text class="pa-6">
                    <v-text-field
                        v-model="email"
                        label="Email" placeholder="Enter Email"
                        :error-messages="messageErrors($v.email,'Email')"
                        @blur="$v.email.$touch()" 
                        @input="$v.email.$touch()"
                    ></v-text-field>
                </v-card-text>
                <div class="caption error--text font-italic px-10">{{ errors.else }}</div>
                <v-card-actions class="pa-6 pt-3">
                    <v-btn rounded block color="secondary" :loading="isLoading" @click="sendEmail()">Continue</v-btn>
                </v-card-actions>
                <v-card-text>
                    <a href="/login">Back to Login</a>
                </v-card-text>
            </v-card>
        </v-col>
        <v-dialog v-model="dialogSuccess" max-width="500px">
            <v-card>
                <v-card-title class="headline">Email sent!</v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">Close</v-btn>
                    <!-- <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn> -->
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</v-container>
</div>
</template>

<script>
import Axios from 'axios';
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
    data() {
        return {
            email : null,
            errors : {},
            isLoading : false,
            dialogSuccess : false
        }
    },
    validations () {
        return {
            email: {
                required
            },
        }
    },
    created(){
        // check is logined
        if(this.$auth.check()){
            this.redirectUser(this.$auth.user().role)
        }
    },
    methods:{
        sendEmail(){
            this.isLoading = true;
            this.$v.email.$touch()
            let payload = {
                email: this.email
            }
            axios.post('password/email', payload).then((res)=> {
            console.log(res.data.result)

            this.isLoading = false
            this.dialogSuccess = true
            }).catch((err) => {
                this.isLoading = false
                this.$errorHandler(err);
            })

        },
        login(){
            this.isLoading = true;
            this.$v.user.$touch()
            this.$auth.login({
                params: {
                    email: this.user.email,
                    password: this.user.password,
                }, // data: {} in Axios
                success: function () { },
                error: function (err ) { },
                rememberMe: true,
                fetchUser: true,
                // etc...
            }).then((res)=>{
                this.redirectUser(res.data.role)
            })
            .catch((err)=>{
                console.log(err.data)
                if(err.data.status == 422){
                    this.errors = err.data.message
                }else{
                    this.errors.else = err.data.message
                }
            }).finally(()=>{
                this.isLoading = false
            });
        },
        redirectUser(role){
            console.log(role)
            var path = "";
            if( [1].indexOf(role) != -1 ){
                path = "/home"
            }else if(role == 2){
                path = "/home"
            }else{
                this.$toast.warning('Invalid Authorization')
            }
            this.$router.push(path)
        },
        close() {
            this.dialogSuccess = false
        },
    }
}
</script>