<template>
<div class="banner fill-height login" >
<!-- <div class="rounded-banner primary elevation-1" :style="$vuetify.breakpoint.mdAndUp ? 'height: 100%' : 'height: 100%'">
</div> -->
<v-container class="text-center justify-center fill-height">
    <v-row dense class="px-3" style="z-index: 1">
        
        <v-col cols="12" md="6" lg="6" xl="6">
            <!-- <div 
                class="py-1 px-6 mb-3" 
                style="
                    letter-spacing: 2px;
                    font-size: 30px;
                "
            >WOWBM</div> -->
            <v-card elevation="5" width="100%" class="radius-05">
                <v-card-title class="font-weight-bold justify-center" :class="$vuetify.breakpoint.mdAndUp ? '' : 'body-1' ">
                    <span>Login</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="pa-8 pb-0">
                    <v-text-field
                        
                        v-model="user.email"
                        label="Email" placeholder="Enter Email"
                        prepend-icon="mdi-account"
                        :error-messages="messageErrors($v.user.email,'Email')"
                        @blur="$v.user.email.$touch()" 
                        @input="$v.user.email.$touch()"
                    ></v-text-field>
                    <v-text-field
                        
                        @keyup.enter="login()"
                        v-model="user.password" type="password"
                        label="Password" placeholder="Enter Password"
                        prepend-icon="mdi-lock"
                        :error-messages="messageErrors($v.user.password,'Password')"
                        @blur="$v.user.password.$touch()" 
                        @input="$v.user.password.$touch()"
                    ></v-text-field>
                </v-card-text>
                <a style="text-allign:right" href="/forgot-password">Forgot Password</a>
                <div class="caption error--text font-italic px-10">{{ errors.else }}</div>
                <v-card-actions class="pa-8 py-2">
                    <v-btn rounded block color="secondary" :loading="isLoading" @click="login()">Login</v-btn>
                </v-card-actions>
                <v-card-text>
                    Don't have an account? <br>
                    <a href="/register">Register</a>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</v-container>
</div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
    data() {
        return {
            user:{
                email : null,
                password : null
            },
            errors : {},
            isLoading : false,
        }
    },
    validations () {
        return {
            user: {
                email: {
                    required
                },
                password: {
                    required
                }
            }
        }
    },
    created(){
        // check is logined
        if(this.$auth.check()){
            this.redirectUser(this.$auth.user().role)
        }
    },
    methods:{
        login(){
            this.isLoading = true;
            this.$v.user.$touch()
            this.$auth.login({
                params: {
                    email: this.user.email,
                    password: this.user.password,
                }, // data: {} in Axios
                success: function(res) {
                    this.isLoading = false
                    this.redirectUser(res.data.result.user.role)
                },
                error: function(err) {
                    this.isLoading = false
                    this.$toast.warning("Login Failed. Please double-check the credentials and try again.")
                },
                rememberMe: true,
                fetchUser: true,
                // etc...
            })
        },
        redirectUser(role){
            console.log(role)
            var path = "";
            if( [1].indexOf(role) != -1 ){
                // path = "/admin"
                path = "/topic"
            }else if(role == 2){
                path = "/home"
            }else{
                this.$toast.warning('Invalid Authorization')
            }
            this.$router.push(path)
        }
    }
}
</script>
<style>
.login{
    background: url('/assets/cool-background.png');
}

</style>