<template>
<div class="banner primary fill-height">
<!-- <div class="rounded-banner primary elevation-1" :style="$vuetify.breakpoint.mdAndUp ? 'height: 100%' : 'height: 100%'">
</div> -->
<v-container class="text-center justify-center fill-height">
    <v-row justify="center" dense class="px-3" style="z-index: 1">
        <v-col cols=12 md=8>
            <div 
                class="py-1 px-6 mb-3 white--text" 
                style="
                    letter-spacing: 2px;
                    font-size: 30px;
                "
            >WOWBM</div>
            <v-card width="100%" class="radius-05">
                <v-card-title class="font-weight-bold justify-center" :class="$vuetify.breakpoint.mdAndUp ? '' : 'body-1' ">
                    <span>Register New Account</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="pa-6">
                    <v-text-field
                        v-model="user.name"
                        label="Full Name" placeholder="Enter Fullname"
                        prepend-icon="mdi-account"
                        :error-messages="messageErrors($v.user.name,'Fullname')"
                        @blur="$v.user.name.$touch()" 
                        @input="$v.user.name.$touch()"
                    ></v-text-field>
                    <v-text-field
                        v-model="user.email"
                        label="Email" placeholder="Enter Email"
                        prepend-icon="mdi-email"
                        :error-messages="messageErrors($v.user.email,'Email')"
                        @blur="$v.user.email.$touch()" 
                        @input="$v.user.email.$touch()"
                    ></v-text-field>
                    <v-text-field
                        v-model="user.school"
                        label="School" placeholder="Enter School/Institution"
                        prepend-icon="mdi-school"
                        :error-messages="messageErrors($v.user.school,'School')"
                        @blur="$v.user.school.$touch()" 
                        @input="$v.user.school.$touch()"
                    ></v-text-field>
                    <v-select
                        v-model="user.role"
                        label="Register as" placeholder="Select"
                        prepend-icon="mdi-account-box"
                        :items='role'
                        :error-messages="messageErrors($v.user.role,'Role')"
                        @blur="$v.user.role.$touch()" 
                        @input="$v.user.role.$touch()"
                    ></v-select>
                    <v-text-field
                        v-model="user.password" type="password"
                        label="Password" placeholder="Enter Password"
                        prepend-icon="mdi-lock"
                        :error-messages="messageErrors($v.user.password,'Password')"
                        @blur="$v.user.password.$touch()" 
                        @input="$v.user.password.$touch()"
                    ></v-text-field>
                    <v-text-field
                        v-model="user.password_confirmation" type="password"
                        label="Password Confirmation" placeholder="Reenter Password"
                        prepend-icon="mdi-lock"
                        :error-messages="messageErrors($v.user.password_confirmation,'Password')"
                        @blur="$v.user.password_confirmation.$touch()" 
                        @input="$v.user.password_confirmation.$touch()"
                    ></v-text-field>
                </v-card-text>
                <div class="caption error--text font-italic px-10">{{ errors.else }}</div>
                <v-card-actions class="pa-6 pt-3">
                    <v-btn rounded block color="secondary" :loading="isLoading" @click="register()">Register</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</v-container>
</div>
</template>

<script>
import { required, sameAs } from "vuelidate/lib/validators";

export default {
    data() {
        return {
            user:{
                name : null,
                email : null,
                school : null,
                role : null,
                password : null,
                password_confirmation : null
            },
            errors : {},
            isLoading : false,

            role: [
                { text: 'Student', value: '2'},
                { text: 'Teacher', value: '3'},
            ]
        }
    },
    validations () {
        return {
            user: {
                password: {
                    required
                },
                password_confirmation: {
                    required,
                    sameAsPassword: sameAs('password')
                },
                name: {
                    required
                },
                email: {
                    required
                },
                school: {
                    required
                },
                role: {
                    required
                },
            }
        }
    },
    created(){
        // check is logined
        if(this.$auth.check()){
            this.redirectUser(this.$auth.user().role)
        }
    },
    methods:{
        register(){
            this.isLoading = true;
            this.$v.user.$touch()
            this.$auth.register({
                params: {
                    name: this.user.name,
                    email: this.user.email,
                    password: this.user.password,
                    password_confirmation: this.user.password_confirmation,
                    role: this.user.role,
                    school: this.user.school,
                },
            })
            .catch((err)=>{
                console.log(err.data)
                if(err.data.status == 422){
                    this.errors = err.data.message
                }else{
                    this.errors.else = err.data.message
                }
            }).finally(()=>{
                this.isLoading = false
            });
        },
        login(){
            this.errors = {}
            this.isLoading = true;
            this.$auth.login({
                params: {
                    email: this.user.email,
                    password: this.user.password,
                }, // data: {} in Axios
                success: function () { },
                error: function (err ) { },
                rememberMe: true,
                fetchUser: true,
                // etc...
            }).then((res)=>{
                this.redirectUser(res.data.role)
            })
            .catch((err)=>{
                console.log(err.data)
                if(err.data.status == 422){
                    this.errors = err.data.message
                }else{
                    this.errors.else = err.data.message
                }
            }).finally(()=>{
                this.isLoading = false
            });
        },
        redirectUser(role){
            console.log(role)
            var path = "";
            if( [1].indexOf(role) != -1 ){
                path = "/home/admin"
            }else if(role == 2){
                path = "/home"
            }else{
                this.$toast.warning('Invalid Authorization')
            }
            this.$router.push(path)
        }
    }
}
</script>