<template>
<div class="banner primary fill-height">
<!-- <div class="rounded-banner primary elevation-1" :style="$vuetify.breakpoint.mdAndUp ? 'height: 100%' : 'height: 100%'">
</div> -->
<v-container class="text-center justify-center fill-height">
    <v-row justify="center" dense class="px-3" style="z-index: 1">
        <v-col cols=12 md=8>
            <div 
                class="py-1 px-6 mb-3 white--text" 
                style="
                    letter-spacing: 2px;
                    font-size: 30px;
                "
            >WOWBM</div>
            <v-card width="100%" class="radius-05">
                <v-card-title class="font-weight-bold justify-center" :class="$vuetify.breakpoint.mdAndUp ? '' : 'body-1' ">
                    <span>Reset Password</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="pa-6">
                    <v-text-field
                        v-model="email"
                        label="Email" placeholder="Enter Email"
                        prepend-icon="mdi-email"
                        :error-messages="messageErrors($v.email,'Email')"
                        @blur="$v.email.$touch()" 
                        @input="$v.email.$touch()"
                    ></v-text-field>
                    <v-text-field
                        v-model="password" type="password"
                        label="Password" placeholder="Enter Password"
                        prepend-icon="mdi-lock"
                        :error-messages="messageErrors($v.password,'Password')"
                        @blur="$v.password.$touch()" 
                        @input="$v.password.$touch()"
                    ></v-text-field>
                    <v-text-field
                        v-model="password_confirmation" type="password"
                        label="Password Confirmation" placeholder="Reenter Password"
                        prepend-icon="mdi-lock"
                        :error-messages="messageErrors($v.password_confirmation,'Password')"
                        @blur="$v.password_confirmation.$touch()" 
                        @input="$v.password_confirmation.$touch()"
                    ></v-text-field>
                </v-card-text>
                <div class="caption error--text font-italic px-10">{{ errors.else }}</div>
                <v-card-actions class="pa-6 pt-3">
                    <v-btn rounded block color="secondary" :loading="isLoading" @click="resetPassword()">Reset Password</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</v-container>
</div>
</template>
<script>
import { required, maxLength } from "vuelidate/lib/validators";

export default {
    data() {
      return {
        token: null,
        email: null,
        password: null,
        password_confirmation: null,
        isLoading : false,
        errors : {},
      }
    },
    validations () {
        return {
            email: {
                required
            },
            password: {
                required
            },
            password_confirmation: {
                required
            },
        }
    },
    methods: {
        resetPassword() {
            this.isLoading = true;
            this.$v.email.$touch()
            axios.post("/password/reset", {
                token: this.$route.params.token,
                email: this.email,
                password: this.password,
                password_confirmation: this.password_confirmation
            })
            .then(result => {
                // console.log(result.data);
                this.$router.push({name: 'login'})
            }, error => {
                console.error(error);
            });
        }
    }
}
</script>